body{
    height: 100vh;
    background: linear-gradient(180deg, #252440 0%, #2F2A61 50%, #0F0C2A 100%);
}

.password-reset-done {
    background: linear-gradient(180deg, #252440 0%, #2F2A61 50%, #0F0C2A 100%);
    box-shadow: 0px 0px 20px #000;
    margin-top: 200px;
    padding: 10px;
    border-radius: 10px;
}

.password-reset-done .title{
    color: #E0DEDE;
    font-size: 32px;
    font-weight: bold;
    font-family: 'bnazanin';
}

.password-reset-done .line{
    background-color: #E0DEDE;
    width: 50%;
    height: 4px;
    border-radius: 4px;
    margin: 10px auto;
}

.password-reset-done .txt-instructions{
    color: #E0DEDE;
    font-family: 'bnazanin';
    font-size: 17px;
    text-align: right;
}

.password-reset-done .frm-done-reset{
    margin: 20px 0px;
}

.password-reset-done .frm-done-reset .btn-comeback{
    background-color: #573B8A;
    color: #E0DEDE;
    border: none;
    border-radius: 4px;
    padding: 8px;
    font-size: 24px;
    font-family: 'bnazanin';
    font-weight: bold;
    width: 150px;
    margin-top: 10px;
}