{% extends "registration/finance/base.html" %}

{% block title %}
    پنل کارمندان | قیمت محصولات
{% endblock title %}

{% block navbar %}
    {% include "registration/finance/navbar.html" %}
{% endblock navbar %}

{% block slidebar %}
    {% include "registration/finance/sidebar.html" with ticket_finance=ticket_finance %}
{% endblock slidebar %}

{% block header %}
    <div class="title-products text-center">
        <span class="product">
            <i class="fa-solid fa-money-bill-1-wave"></i>
            قیمت محصولات
        </span>
        <div class="line-products"></div>
        <div class="breadcrumb-menu" style="margin-top: 10px;">
            <span>
                <a href="{% url 'eFinance' %}">صفحه اصلی</a>
            </span>
            <i class="fa-solid fa-chevron-left"></i>
            <span style="color: #a5a5a5;"> قیمت محصولات </span>
        </div>
    </div>
{% endblock header %}

{% block content %}

    <div class="search-add-products container text-center">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 d-flex justify-content-center">
                <!-- <form action="" method="post" class="frm-search-product">
                    {% csrf_token %}
                    <button type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i> <span>جستجو</span>
                    </button>
                    <input type="text" name="txt-search" placeholder="جستجوی محصول">
                </form> -->
            </div>
            <div class="col-3"></div>
        </div>
    </div>

    <!-- message info -->
    {% for message in messages %}
        <div class="info-alert">
            <button type="button" class="float-end btn-close-alert" id="btn-close-alert">
                <i class="fa-solid fa-xmark"></i>
            </button>
            <li><i class="fa-solid fa-circle-info"></i> {{ message }} </li>
        </div>
    {% endfor %}

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12" style="height: 450px; overflow: auto;">
                    <table class="tbl-products">
                        <thead>
                            <tr>
                                <th>شناسه</th>
                                <th>نام محصول</th>
                                <th>تصویر</th>
                                <th>دسته</th>
                                <th>تعداد</th>
                                <th>قیمت اصلی</th>
                                <th>قیمت تخفیفی</th>
                                <th>وضعیت</th>
                                <th>قیمت گذاری</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if products %}
                                {% for products in products %}
                                    <tr>
                                        <td>{{ products.id }}</td>
                                        <td style="width: 150px;">{{ products.name }}</td>
                                        <td><img src="{{ products.image.url }}" style="width: 75px; height: 75px;" alt=""></td>
                                        <td>{{ products.category }}</td>
                                        <td>{{ products.number }}</td>
                                        {% if products.is_sale == True %}
                                            <td class="text-danger"><strike>{{ products.price }}</strike></td> 
                                            <td>{{ products.sale_price }}</td>
                                        {% else %}
                                            <td>{{ products.price }}</td> 
                                            <td>-</td>
                                        {% endif %}
                                        
                                        {% if products.state == True %}
                                            <td>
                                              <span style="color: #218838;">موجود</span>
                                            </td>
                                        {% else %}
                                            <td>
                                              <span style="color: #c82333;">ناموجود</span>
                                            </td>
                                        {% endif %}
                                        <td>
                                            <button type="button" class="btn-add-product-price" data-bs-toggle="modal" data-bs-target="#addProductPriceModal"
                                                onclick="setProductPrice('/accounts/fEditProductPrice/{{ products.id }}/')">قیمت گذاری</button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="9" style="padding:4px;">
                                        <span style="font-family: 'bnazanin';"> محصولی برای نمایش وجود ندارد. </span>
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <!-- The add product price modal -->
    <div class="modal fade modal-add-product-price" id="addProductPriceModal" style="margin-top: 150px;">
        <div class="modal-dialog">
            <div class="modal-content">

            <div class="modal-header bg-dark">
                <button type="button" class="btn-close bg-white" aria-label="Close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <form action="" class="frm-add-product-price" id="frm-add-product-price" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <div class="product-price">
                        <span class="lbl-product-price"> قیمت محصول </span>
                        <span class="lbl-arrow"><i class="fa-solid fa-chevron-left"></i></span>
                        {{ edit_product_price_form.price }}
                    </div>

                    <div class="product-sale">
                        <span class="lbl-product-sale"> تخفیف محصول </span>
                        <span class="lbl-arrow"><i class="fa-solid fa-chevron-left"></i></span>
                        {{ edit_product_price_form.is_sale }}
                    </div>
                    
                    <div class="product-sale-price mb-2">
                        <span class="lbl-product-sale-price"> تخفیف قیمت </span>
                        <span class="lbl-arrow"><i class="fa-solid fa-chevron-left"></i></span>
                        {{ edit_product_price_form.sale_price }}
                    </div>
                    
                    <hr style="border: 1px solid #919191 !important; display: flex;">

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn-edit-product-modal">
                            <i class="fa-solid fa-pen-to-square"> قیمت جدید </i>
                        </button>
                    </div>
                </form>
            </div>

            </div>
        </div>
    </div>

    <script>
        function setProductPrice(url){
            document.getElementById('frm-add-product-price').action = url;
        }
        $(document).ready(function(){
            $('#btn-close-alert').click(function(){
                $('.info-alert').fadeOut();
            });
        });
    </script>
{% endblock content %}