{% load static %}
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'adminPanel' %}" class="brand-link">
        <img src="{% static 'registration/image/AF.png' %}" alt="Logo" class="brand-image img-circle elevation-3" style="background-color: #fff;">
        <span class="brand-text font-weight-light">پنل کارمند مالی</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{ user.image.url }}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{ user.get_full_name }}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item has-treeview menu-open">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            داشبورد
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'eFinance' %}" class="nav-link">
                                <i class="fa-solid fa-house nav-icon"></i>
                                <p>صفحه اصلی</p>
                            </a>
                        </li>
                      
                        <li class="nav-item">
                            <a href="{% url 'fProducts' %}" class="nav-link">
                                <i class="fa-solid fa-money-bill-1-wave"></i>
                                <p>قیمت محصولات</p>
                            </a>
                        </li>
                      
                        <li class="nav-item">
                            <a href="{% url 'fEmployeeRight' %}" class="nav-link">
                                <i class="fa-solid fa-hand-holding-dollar"></i>
                                <p>حقوق کارمندان</p>
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a href="{% url 'fBankTransactions' %}" class="nav-link">
                                <i class="fa-solid fa-money-check-dollar"></i>
                                <p>تراکنش‌های بانکی</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'fBuyFactors' %}" class="nav-link">
                                <i class="fa-solid fa-file"></i>
                                <p>فاکتورهای خرید</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item has-treeview menu-open">
                    <a href="#" class="nav-link active">
                        <i class="fa-solid fa-list"></i>
                        <p>
                            لیست
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'infoF' %}" class="nav-link">
                                <i class="fa-solid fa-circle-info nav-icon"></i>
                                <p>اطلاعات کارمند</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'ticketFinance' request.user.id %}" class="nav-link">
                                <i class="fa-solid fa-message nav-icon"></i>
                                <p>تیکت‌ها</p>
                                <span class="right badge badge-danger" style="border-radius: 0px;">{{ ticket_finance.count }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>