{% extends "registration/forgot-password/base.html" %}

{% block body %}

    <div class="password-reset-done text-center">
        <div class="title">
            <span><i class="fa-solid fa-unlock"></i> تقاضای ریست رمز فرستاده شد </span>
        </div>
        <div class="line"></div>
        <div class="txt-instructions">
            <p><i class="fa-solid fa-circle-check"></i> دستورالعمل تنظیم گذرواژه را برایتان ایمیل کردیم. اگر با ایمیلی که وارد کردید اکانتی وجود داشته باشد باید به زودی این دستورالعمل‌ها را دریافت کنید.</p>
            <p><i class="fa-solid fa-circle-check"></i> اگر ایمیلی دریافت نمی‌کنید، لطفاً بررسی کنید که آدرسی که وارد کرده‌اید همان است که با آن ثبت نام کرده‌اید، و پوشهٔ اسپم خود را نیز چک کنید.</p>
        </div>
        <div class="frm-done-reset">
            <a href="{% url 'login' %}" class="btn-comeback"> 
                <span> بازگشت </span>
                <i class="fa-solid fa-angles-left"></i>
            </a>
        </div>
    </div>
    
{% endblock body %}