{% extends "registration/forgot-password/base.html" %}
{% block title %}تنظیم رمز عبور جدید{% endblock title %}
{% block body %}

<div class="password-reset-confirm text-center">
  <div class="title">
      <span><i class="fa-solid fa-key"></i> رمز عبور جدید را وارد کنید </span>
  </div>
  <div class="frm-password-reset">
      <form action="" method="post">
          {% csrf_token %}
          
          <div>
              <i class="fa-solid fa-key"></i>
              {{ form.new_password1 }}
              {{ form.new_password1.errors }}
          </div>
          <div>
              <i class="fa-solid fa-key"></i>
              {{ form.new_password2 }}
              {{ form.new_password2.errors }}
          </div>
          <button type="submit" class="btn-reset-password"> بازیابی رمز عبور </button>
      </form>
  </div>
</div>

{% endblock body %}


  