{% extends "registration/forgot-password/base.html" %}
{% block title %}کامل شدن بازیابی رمز عبور{% endblock title %}
{% block body %}

<div class="password-reset-complete text-center">
  <div class="title">
      <span><i class="fa-solid fa-key"></i> رمز عبور به رمز عبور جدید تغییر پیدا کرد </span>
  </div>
  <div class="frm-complete-reset">
        <div class="line"></div>
        <div class="txt-instructions">
            <p><i class="fa-solid fa-circle-check"></i> گذرواژهٔ جدیدتان تنظیم شد. اکنون می‌توانید وارد وب‌گاه شوید. </p>
        </div>
        <a href="{% url 'login' %}" class="btn-login"><i class="fa-solid fa-right-to-bracket"></i> ورود </a>
  </div>
</div>

{% endblock body %}


  