{% extends "registration/forgot-password/base.html" %}
{% block title %}فرم بازیابی رمز عبور{% endblock title %}
{% block body %}

    <div class="password-reset-form text-center">
        <div class="title">
            <span><i class="fa-solid fa-unlock"></i> بازیابی رمز عبور </span>
        </div>
        <div class="frm-email-reset">
            <form action="" method="post">
                {% csrf_token %}
                
                <div>
                    <i class="fa-solid fa-envelope"></i>
                    {{ form.email }}
                </div>
                <button type="submit" class="btn-reset-email"> ارسال </button>
            </form>
        </div>
    </div>
    
{% endblock body %}