<div class="shop-products-box row gx-1 gy-0 gx-lg-2 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    {% if all_products %}
        {% for all_products in all_products %}
            <div class="col">
                <div class="shop-products">
                    {% if all_products.is_sale == True %}
                        <div class="position-relative" style="top: 15px; right: 30px;">
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                تخفیف
                            </span>
                        </div>
                    {% endif %}
                    <img class="card-img-top" src="{{ all_products.image.url }}" alt="..." /><hr>
                    <div class="p-1">
                        <div class="text-center">
                            <h5 class="fw-bolder">{{ all_products.name }}</h5>
                            {% if all_products.is_sale == True %}
                                <span class="text-muted text-decoration-line-through"> {{ all_products.price }} </span> |
                                {{ all_products.sale_price }}
                            {% else %}
                                {{ all_products.price }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn-add-cart mt-auto" href="{% url 'productDetails' all_products.id %}">
                                <i class="fa-solid fa-cart-shopping"> خرید محصول </i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="col-12">
            <div class="not-shop-products">
                <i class="fa-solid fa-circle-info"></i>
                محصولی برای نمایش وجود ندارد. لطفا بعدا سر بزنید.
            </div>
        </div>
    {% endif %}
    
</div>
